:root {
  --default-font: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../images/milda-cropped.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #272044;
  border-radius: 5px;
}
main h2 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
}
footer h4 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;

  padding: 0;
  padding-top: 10px;
}
footer a {
  color: white;
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;

  transition: all 100ms ease-in-out;
}
footer a:hover {
  color: rgb(3, 200, 249);
  font-weight: 500;
  opacity: 1;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 15px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
}
.github-link {
  opacity: 1;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .image-center {
    text-align: center;
  }
}
